@import url("https://p.typekit.net/p.css?s=1&k=duo3tdm&ht=tk&f=19121.19123&a=12497077&app=typekit&e=css");
@import url("https://fonts.cdnfonts.com/css/druk-wide-bold");

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title {
  font-family: "Druk Wide Bold", sans-serif;
  font-size: 75px;
  color: rgba(255, 255, 255);
  align-items: center;
  justify-content: center;
}

.main-subtitle {
  font-family: "akzidenz-grotesk", sans-serif;
  font-weight: 600;
  font-size: 30px;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgb(131, 131, 131);
  color: rgba(255, 255, 255, 0);
}

.main-menu {
  display: flex;
  padding-left: 7em;
  padding-top: 15em;
}

.main-menu p {
  padding-right: 2em;
  font-size: 13px;
}

.main-logo {
  padding: 7em;
}

.top-menu {
  display: flex;
  justify-content: space-between;
}

.logo {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  font-family: "Druk Wide Bold", sans-serif;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0);
}

.logo span {
  margin-bottom: -15px;
}

.about {
  position: relative;
  background-color: rgb(17, 17, 63);
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90vh;
  margin-top: -95vh;
  margin-left: 5%;
  padding: 4em;
  /* overflow: hidden; */
}

.about-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.title {
  font-family: "Druk Wide Bold", sans-serif;
  font-size: 75px;
  text-align: center;
}

.about-content p {
  font-family: "akzidenz-grotesk", sans-serif;
  font-weight: 200 !important;
  font-size: 17px;
  text-align: left;
  width: 25em;
}

.about-content-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.work-content {
  display: flex;
  overflow-x: scroll;
  margin-top: 4em;
}

.inside-work {
  display: flex;
}

.work-title {
  font-family: "Druk Wide Bold", sans-serif;
  font-size: 55px;
  text-align: center;
}

.card {
  flex: 0 0 auto;
  margin-right: 2em; /* Adjust the margin between cards as needed */
}

.card-title {
  font-family: "Druk Wide Bold", sans-serif;
}

.card-paragraph {
  max-width: 365px;
  font-family: "akzidenz-grotesk", sans-serif;
  font-weight: 200 !important;
  font-size: 12px;
}
